#head{
	position: relative;
}
#head .head-top{
	height:30px;
	line-height: 30px;
	background:#333;
	/*border-bottom: 3px solid #ae7d45;*/
	font-size: 12px;
	color: #fff;
}

#head .head-top .right a,#head .head-top .left a{
	color: #fff;
	margin: 0 14px;
	color: #ccc;
}
#head .head-top .left a:nth-child(1){margin-left: 0px;}
#head .head-top .right a:last-child{margin-right: 0px;}
#head .head-top .right b,#head .head-top .left b{
	width: 1px;
	height: 11px;
	background: #cbcbcb;
	display: inline-block;
	margin-top: 9px;
}
#head .head-middle{
	height:93px;
	padding:5px 0;
	color: #666;
	box-shadow: 0 0 20px #999;
	background:url(../img/headBG.png) repeat-x;
	border-bottom:2px solid #ae7d45;
}
#head .head-middle h1{
	padding:0;
	margin: 0;
}
#head .head-middle h1>img{
	/*height:90px;*/
	padding-top:4px;
	cursor: pointer;
	margin-left: -7px;
}
#head .head-middle .container div>p:first-child{
	font-size: 16px;
	font-weight: bold;
	
}
#head .head-middle .container div:nth-child(2),#head .head-middle .container div:nth-child(3),#head .head-middle .container div:nth-child(4){
	padding:0;
}
#head .head-middle .container>div{
	display: inline-block;
	position: relative;
	margin-top: 24px;
}
#head .head-middle .container>div img{
	height:17px;
	position: absolute;
	top:9px;
	right: 271px;
}
#head .head-middle input{
	width:300px;
	border:1px solid #b2b2b2;
	padding:5px 0;
	padding-left: 39px;
	/*border-radius: 20px;*/
	height: 34px;
	background: #FBFBFB;
}
#head .head-middle button{
	position: absolute;
	top:0;
	right: 0px;
	width:50px;
	background: #999;
	cursor: pointer;
	color: #fff;
	height:34px;
	/*border-bottom-right-radius: 20px;*/
	/*border-top-right-radius: 20px;*/
}
#head .head-bottom .wal-nav{
	z-index: 2;
	width: 250px;
	float: left;
	position: absolute;
	top:0px;
	background: #5e5b61;
	height: 408px;
}
#head .head-bottom .navs{
	position: relative;
}
#head .head-bottom .navs li{
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #2b2b2b;
	background:rgba(0,0,0,.7) ;
	color:#b6b6b6;
	/*cursor: pointer;*/
	line-height:45px;
	padding-left:30px;
	font-family:"microsoft yahei";
	font-size:14px;
}
#head .head-bottom .navs li.tle,#head .head-bottom .navs li.tle:hover{background:#ae7d45;color:#fff;}
.nav-inside{
	position: absolute;height:408px;width:500px;background:rgba(255,255,255,0.8);left:250px;border-top:3px solid #ae7d45;border-bottom:3px solid #ae7d45;border-right:3px solid #ae7d45;
	left: 250px;
	top:0px;
	display: none;
}
.nav-inside h3{color:#000; font-size:14px; line-height:41px;padding:0 20px;border-bottom:1px solid #e1e1e1;}
.fenlei{width: 105%;}
.fenlei a{ font-size: 12px;border-bottom: 1px solid #f1f1f1; line-height: 45px; float: left; display: inline-block;padding:0 10px;}
.fenlei a:hover{color: #ae7d45;}
#head .head-bottom .navs li:hover{
	background:rgba(0,0,0,.9) ;
}
#head .head-bottom .navs span{
	float: right;
	height: 100%;
	display: block;
	overflow: hidden;
}
#head .head-bottom .navs .tag{
	width:500px;
	min-height:312px;
	background: rgba(0,0,0,.9);
	position: absolute;
	left: 200px;
	top:0px; 
	z-index: 9999999;
	overflow: hidden;
	 display: none;
}
@media screen and (max-width: 1920px) {
    #head .head-bottom .navs .tag{height:408px;}
}
@media screen and (max-width: 1450px) {
    #head .head-bottom .navs .tag{height:312px;}
}
#head .head-bottom .navs .tag h5{height: 45px; border-bottom: 1px solid #2b2b2b; line-height: 45px;padding-left:20px;}
#head .head-bottom .navs .tag_cont{padding:20px;width: 520px;}
#head .head-bottom .navs .tag_cont a{color:#b6b6b6; float: left; display: inline; line-height: 35px;margin-right: 15px; font-size: 12px;}
#head .head-bottom{
	overflow: hidden;
    width: 100%;
}
#head .head-bottom .scroll-img{
	z-index: -1;
}
/*.head-shadow{width:100%;height:19px;background:url(../img/head-shadow.png) repeat-x;}*/
#head .head-bottom .scroll-icon{
	width:26%;
	margin: 0 auto;
	bottom: 10px;
	z-index: 1;
}
#head .head-bottom .scroll-icon li{
	height:5px;
	width:28px;
	border:1px solid #fff;
	margin-right:10px;
	border-radius: 0;
	background-color: transparent;
}
#head .head-bottom .scroll-icon .active{
	border:1px solid #66512C;
}
#head .login{
	position: absolute;
	top:140px;
	left:35%;
	width:30%;
	color:#666;
	border-radius: 5px;
	background: #fff;
	z-index: 2;
	text-align: center;
	padding-bottom: 30px;
}
#head .login>img{
	float: right;
	margin-top:-15px;
	margin-right:-15px;
	cursor: pointer;
}
#head .login .login-top{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: linear-gradient(to bottom,#BFA07B 0%,#B29062 100%);
	color:#F9F6F1;
	font-size: 16px;
}
#head .login .login-top img{
	width:20%;
	border-radius: 50%;
}
#head .login .login-bottom img{
	position: absolute;
	left:25px;
	top:8px;
}
#head .login .login-bottom p:nth-child(3){
	padding-left:5%;
	padding-top:15px;
	padding-bottom: 15px;
	text-align: left;
}
#head .login .login-bottom p:nth-child(3) input{
	height:15px;
	width:15px;
	margin-right: 5px;
	margin-top:0;
}
#head .login .login-bottom p:last-child{
	display: inline-block;
	width:90%;
}
#head .login .login-bottom>div:nth-child(1){
	margin-top:30px;
	position: relative;
}
#head .login .login-bottom>div:nth-child(2){
	margin-top:10px;
	position: relative;
}
#head .login .login-bottom>div input{
	padding:8px 0;
	padding-left: 40px;
	border-bottom: 1px solid #dfdfdf;
	width:90%;
}
#head .login .login-bottom p a{
	color:#828282;
}
#head .login button{
	width:90%;
	background: #AF7C45;
	color:#F9F6F1;
	height:40px;
	line-height: 40px;
	border-radius: 5px;
	font-size: 15px;
	margin-bottom: 20px;
}
#main>div{
	margin-top:30px;
}
#main .main-1 img{
	width:100%;
}
#main h4{
	font-size: 28px;
	font-weight: bold;
}
#main>div p>span:nth-child(2){
	margin-left: 8px;
	margin-right:20px;
}
#main .main-2 .clear .tag,#main .main-3 .clear .tag,#main .main-4 .clear .tag{ font-size:14px;padding-top:10px;}
#main .main-2 dt img{
	width:100%;
}
#main .main-2 .goods{
	margin-top:27px;
}
#main .main-2 .goods li{
	background: #FBFBFB;
}
#main  dl{
	background: #fff;
	padding-bottom: 1px;
}
#main .main-2 dl{
	background: #fff;
	padding-bottom: 20px;
}
#main  dd{
	width:85%;
	margin:0 auto;
}
#main .main-2 dd:nth-child(2){
	margin-top:20px;
	margin-bottom: 15px;
}
#main  dd:nth-child(2){
	margin-top:10px;
	margin-bottom: 10px;
}
#main  dd:nth-child(2) .right{
	color:#985F0D;
}
#main .main-2 dd:nth-child(2) .right{
	color:red;
}
#main .main-2 dd button{
	padding:3px 15px;
	border:1px solid #dfdfdf;
	background: #fff;
}
#main  .row img{
	width: 100%;
}
#main  div>ul{
	margin-top:27px;
}
#foot{
	margin-top:40px;
	color:#999;
	background:#fff;
	padding-top:40px;
	border-top:1px solid #ececec;
}
#foot .foot-top{
	margin-left:0;
	margin-right:0;
}
#foot .foot-top li{
	border:1px solid #dfdfdf;
	padding:8px 5px;
	float: left;
	text-align: center;
}
#foot .foot-top li:nth-child(1),#foot .foot-top li:nth-child(2),#foot .foot-top li:nth-child(3){
	position: relative;
}
#foot .foot-top li:nth-child(1)>div:nth-child(1),#foot .foot-top li:nth-child(2)>div:nth-child(1),#foot .foot-top li:nth-child(3)>div:nth-child(1){
	position: absolute;
	top:10px;
	left:5px;
	margin-right: 5px;
}
#foot .foot-top li:nth-child(1)>div:nth-child(2),#foot .foot-top li:nth-child(2)>div:nth-child(2),#foot .foot-top li:nth-child(3)>div:nth-child(2){
}
#foot .foot-top li img{
	display: inline-block;
	width:100%;
	vertical-align: bottom;
}
#foot .foot-top li>div:nth-child(1){
	display: inline-block;
	width:20%;
}
#foot .foot-top li>div:nth-child(2){
	display: inline-block;
	width:75%;
	float: right;
	text-align: left;
}
#foot .foot-top li:nth-child(1){
	width:27%;
	margin-right: 1%;
}
#foot .foot-top li:nth-child(2){
	width:27%;
	margin-right: 1%;
}
#foot .foot-top li:nth-child(3){
	width:27%;
	margin-right: 1%;
}
#foot .foot-top li:nth-child(4){
	width:16%;
	text-align: center;
	padding:13px 0;
}
#foot .foot-top li div>p:nth-child(1){
	color: #000;
	font-weight: bold;
}
#foot .foot-top li:nth-child(4)>div{
	width:100%;
	margin: 0 auto;
	text-align: center;
}
#foot .foot-top li:nth-child(4)>div:nth-child(2){
	margin-bottom: 0;
	margin-top:10px;
}
#foot .foot-top li:nth-child(4)>div img{
    height:20px;
    vertical-align:top;
    width: auto;
}
#foot .foot-top li button{
	border:1px solid #dfdfdf;
	padding:0 8px;
	background:#fff;
	display: inline-block;
	margin-left:5px;
	color:#333;
}
#foot .foot-middle{
	margin:40px 0;
	height:150px;
}
#foot .foot-middle a{
	color:#999;
}
#foot .foot-middle ul>li:nth-child(1){
	font-size: 14px;
	font-weight: bold;
	color:#000;
}
#foot .foot-middle>div,#foot .foot-middle ul{
	display: inline-block;
}
#foot .foot-middle>div{
	width:19%;
	position: relative;
}
#foot .foot-middle div>img{
	position: absolute;
	top:0;
	left: 0;
	width:20px;
}
#foot .foot-middle div ul{
	position: absolute;
	top:0;
	left:30px;
}
#foot .foot-bottom{
	background:#333;
	color:#dfdfdf;
	height:40px;
	line-height: 40px;
	width:100%;
	text-align: center;
}
/*@media (min-width: 1200px){
	#head .head-bottom .nav .tag{height:508px;}
}
@media (min-width: 992px){
	#head .head-bottom .nav .tag{height:312px;}
}*/

